@import './base.css';

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  /* min-width: 100vw; */
  min-height: 100vh;
}

form {
  display: flex;
  flex-wrap: wrap;
  gap: 0 1rem;
}

.tab-container {
  position: relative;
  overflow-y: auto;
  flex: 1;
  margin: 1rem;
}

.tab-content {
  padding: 2rem 3rem;
  /* background: #000; */
}

.grid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 0.5fr 0.3fr;
  align-items: center;


  & p {
    margin: 0;
    font-size: 20px;
  }

  & .caption {
    font-size: 16px;
  }
}

.close {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  transition: all 100ms ease-in-out;
  }



@media (max-width: 1200px) {
  * {
    font-size: 12px;
  }

  .tab-container {
    margin: 2rem 1rem;
  }

  .grid {
    grid-template-columns: 2fr 1fr 1fr 1fr 0.5fr;

    & p {
      font-size: 14px;
      padding: 0.5rem;
    } 

    & .caption {
      font-size: 12px;
      padding: 0 0.5;
    }
  }
}