@import './base.css';
@import './auth.css';

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  /* min-width: 100vw; */
  min-height: 100vh;
  max-height: 100vh;
}

form {
  display: flex;
  flex-wrap: wrap;
  gap: 0 1rem;
}

.tab-container {
  position: relative;
  overflow-y: auto;
  flex: 1;
  margin: 1rem;
}

.tab-content {
  padding: 2rem 3rem;
  /* background: #000; */
}

.grid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 0.5fr 0.3fr;
  align-items: center;

  & p {
    margin: 0;
    font-size: 17px;
  }

  & .caption {
    font-size: 16px;
  }
}

.close {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  pointer-events: auto;
  transition: all 100ms ease-in-out;   
}

.invisible-button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
}


.plan-info-card {
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  padding: 10px 10px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;

  &:hover {
      box-shadow: 0 6px 14px rgba(0, 0, 0, 0.12);
  }

}

  .plan-label {
    font-size: 14px;
    font-weight: 600;
    padding: 5px;
    border-bottom: 1px solid #ddd;
    color: #2e2e2e;
  }

  .input-container {
    display: flex;
    align-items: center;
    background: #ffffff;
    border-radius: 8px;
    /* border: 1px solid #ddd; */
    padding: 3px 10px;
    transition: border-color 0.2s ease;

    &:focus-within {
      border-color: #cccccc; 
      box-shadow: 0 0 0 3px rgba(175, 175, 175, 0.3);
    }
  }

  .plan-input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
    background: transparent;
    color: #333;

    &::placeholder {
      color: #999;
    }
  }

  .cursor-pointer {
    cursor: pointer;
  }

  .grid-cell {
    border-bottom: 1px solid #000;
    padding: 0.3rem;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: #c0dbd1;
      cursor: pointer;
    }
  }

  .grid input {
    width: 100%;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 0.3rem;
    margin: 0.2rem;
    background-color: transparent;
    outline: none;

  } 

  .grid input:focus {
    /* background-color: #c0dbd1; */
    border: 1px solid var(--color-main-theme);
  }

  .selected {
    background-color: #c0dbd1;
  }

  .overlay {
    position: fixed;
    inset: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 500;
  }


@media (max-width: 1200px) {
  * {
    font-size: 12px;
  }

  .tab-container {
    margin: 2rem 1rem;
  }

  .grid {
    grid-template-columns: 2fr 1fr 1fr 1fr 0.5fr;

    & p {
      font-size: 14px;
      padding: 0.5rem;
    } 

    & .caption {
      font-size: 12px;
      padding: 0 0.5;
    }
  }
}