@import './base.css';

a {
  text-decoration: none;
}

ul, ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  /* min-width: 100vw; */
  min-height: 100vh;
}

.tab-container {
  overflow-y: auto;
  flex: 1;
  margin: 5rem;
}

@media (max-width: 1200px) {
  * {
    font-size: 12px;
  }

  .tab-container {
    margin: 2rem 1rem;
  }
}